{{ define "main" }}
  <div class="article-meta">
    <h1><span class="title">{{ .Title }}</span></h1>

    {{ if .Params.authors }}
      <span class="author">{{ partial "author.html" . }}</span>
      {{ if .Params.date }}
        &ndash; <span class="date">{{ .Date.Format "2006/01/02" }}</span>
      {{ end }}
    {{ else if .Params.author.name }}
      <span class="author">{{ partial "author.html" . }}</span>
      {{ if .Params.date }}
        &ndash; <span class="date">{{ .Date.Format "2006/01/02" }}</span>
      {{ end }}
    {{ else if .Params.date }}
      <b class="date">{{ .Date.Format "2006/01/02" }}</b>
    {{ end }}

    <p class="terms">
      {{ range $i := (slice "categories" "tags") }}
        {{ with ($.Param $i) }}
          {{ $i | title }}:
          {{ range $k := . }}
            <a href="{{ relURL (print "/" $i "/" $k | urlize) }}">{{ $k }}</a>
          {{ end }}
        {{ end }}
      {{ end }}
    </p>
  </div>

  {{ if .Params.toc }}
    {{ .TableOfContents }}
  {{ end }}

  {{ partial "cover.html" . }}
  <main>
    {{ .Content }}
  </main>
{{ end }}
