<div id="header">
  <div class="super">
    <div class="pull-left">
      <!-- Menu toggle checkbox -->
      <input type="checkbox" id="menu-toggle">
      <label for="menu-toggle" class="menu-button">X</label>
      <script>
        document.addEventListener('DOMContentLoaded', function() {
          const menuToggle = document.getElementById('menu-toggle');
          const sidebar = document.getElementById('sidebar');
      
          menuToggle.addEventListener('change', function() {
            if (menuToggle.checked) {
              sidebar.style.transform = 'translateX(0)';
            } else {
              sidebar.style.transform = 'translateX(-100%)';
            }
          });
        });
      </script>
      <!-- E|Menu toggle checkbox -->
      |
      {{ range .Site.Params.subdomains }}
        <a href="{{ .URL }}">{{ .Name | lower }}</a> |
      {{ end }}
    </div>
    <div class="pull-right">
      |
      {{ range .Site.Menus.feed.ByWeight }}
        <a href="{{ .URL }}">{{ .Name | lower }}</a> |
      {{ end }}
    </div>
  </div>
  <div class="mid">
    <h1 class="headerTitle">
      <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}
        <span id="headerSubtitle">{{ .Site.Params.subtitle }}</span>
      </a>
    </h1>
  </div>
</div>
