<nav id="side-bar">
  <div>
    <ul>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
        <li><a class="thisPage" href="{{ .URL }}" title="{{ .Title }}">&rsaquo; {{ .Name }}</a></li>
      {{ else }}
        <li><a href="{{ .URL }}" title="{{ .Title }}">&rsaquo; {{ .Name }}</a></li>
      {{ end }}
    {{ end }}
    <!-- Dynamic Sections -->
    {{ range .Site.Sections }}
      {{ if ne .Kind "taxonomy" }}
        <li><a href="{{ .Permalink }}" title="{{ .Title }}">&rsaquo; {{ .Title }}</a></li>
      {{ end }}
    {{ end }}
    </ul>
  </div>
</nav>
