{{ if .Site.Params.printSidebar }}
<nav id="side-bar">
{{ else }}
<nav id="side-bar" class="no-print">
<style>@media print {article {display: block;margin-left: auto;margin-right: auto;width: 100%;}}</style>
{{ end }}
  <div>
    <ul>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
        <li><a class="thisPage" href="{{ .URL }}" title="{{ .Title }}">&rsaquo; {{ .Name }}</a></li>
      {{ else }}
        <li><a href="{{ .URL }}" title="{{ .Title }}">&rsaquo; {{ .Name }}</a></li>
      {{ end }}
    {{ end }}
    <!-- Dynamic Sections -->
    {{ range .Site.Sections }}
      {{ if ne .Kind "taxonomy" }}
        <li><a href="{{ .Permalink }}" title="{{ .Title }}">&rsaquo; {{ .Title }}</a></li>
      {{ end }}
    {{ end }}
    </ul>
  </div>
</nav>
