{{- $url := .Get "URL" -}}
{{- $img := .Get "IMG" -}}
{{- $text := .Get "TEXT" | default "Preview" -}}
{{- $noiframe := .Get "NO_IFRAME" -}}

<span class="prev-link-wrapper">
    <!-- <a href="{{ $url }}" target="_blank" rel="noopener"> -->
    <u>{{ $text }}</u>
    <!-- </a> -->
  <span class="prev-popup">
    <span class="prev-content">
      {{- if $img -}}
        <img src="{{ $img }}" alt="preview image" loading="lazy">
      {{- end -}}
      {{- if not $noiframe -}}
        <iframe class="prev-iframe" src="{{ $url }}"></iframe>
      {{- end -}}
      <span class="prev-text" data-url="{{ $url }}">
        <a href="{{ $url }}" target="_blank" rel="noopener">Abrir enlace</a>
      </span>
    </span>
  </span>
</span>
